.title {
  font-size: 72px;
  background: linear-gradient(to bottom, #66fcf1, #bbb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.image {
  object-fit: cover;
  animation: move 3s infinite ease alternate;
}

@keyframes move {
  from {
    transform: translateY(-15px);
  }
  to {
    transform: translateY(0px) scale(1.03);
  }
}
